
.flex--start {
  display: flex;
  justify-content: flex-start;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--end--center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex--start--center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex--between--center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex--between--start {
  display: flex;
  justify-content: space-between;
}

.flex--1 {
  flex: 1;
  min-width: 0;
}

.ssml-tag-editor {
  font-size: 14px;

  .ProseMirror {
    min-height: 200px;
    outline: none;
  }

  line-height: 20px;

  .attrs-mark {
    user-select: none !important;
  }
  .react-node-ssml-tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;

    .ssml-tag-value-select {
      position: relative;
      margin: 0 2px;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      color: #fff;
      cursor: pointer;
    }
    .ssml-tag-value-select__value {
      padding: 2px 4px;
      background-color: #1e6ee6;
      border-radius: 2px;
    }
    .ssml-tag-value-select__options {
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      z-index: 1;
      min-width: 96px;
      padding: 8px 0;
      white-space: nowrap;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 4px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);

      .ssml-tag-value-select__options__item {
        padding: 8px 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #222;
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }

        &.active {
          background-color: #f5f5f5;
        }
      }
    }
  }
  .node-say-as,
  .node-break,
  .node-phoneme,
  .node-sub {
    display: inline-block;
    cursor: default;
    .attrs-mark {
      cursor: pointer;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
