.react-node-ssml-tag.phoneme {
  cursor: pointer;
  span[data-name='phoneme'] {
    line-height: 16px;
    border-bottom: 2px solid #FAB400;
    &.editing {
      background: #FFBD2B3B;
    }
  }
  .ssml-tag-value-select__value {
    background: #FAB400;
  }
}
